body.theme3 {
  background: linear-gradient(to right, #d8b4fe, #a78bfa); /* light to medium purple */
  color: #2d2d2d;
  font-family: 'Pacifico', cursive;
}

body.theme3 .boxColour{
  background-color: white;

}

body.theme3  button:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.08);
}

